html {
  font: normal 16px Georgia, Times;
  color: #000;
  background-color: #fff;
}

body > header {
  display: flex;
  flex: 1 0 100%;
  justify-content: space-evenly;
}
.title-input label {
  font-size: 2rem;
  width: 10rem;
  background-color: #000;
  color: #fff;
  padding: 0.1rem 0.5rem;
}
body > header > *:not(:last-child) {
  padding-right: 1rem;
}

header ~ p {
  font-size: 0.875rem;
}

input[type="text"] {
  border: 0;
  border-bottom: 2px solid #777;
  border-left: 1px dashed #ccc;
  box-sizing: border-box;
  width: 100%;
  min-width: 5px;
  padding: 4px 10px 6px 10px;
  margin: 0 0 0 5px;
}
input[type="text"]:hover,
input[type="text"]:active {
  border-bottom-color: #000;
  border-left-color: #888;
}

.title-input {
  display: flex;
  justify-content: stretch;
  flex: 1 1 50%;
  flex-wrap: nowrap;
}

h3.column-title-bar {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
}
table.line-inputs {
  border: 2px solid #000;
  width: 100%;
}
table.line-inputs td {
  padding: 0.3rem;
}

table.line-inputs tr td:last-of-type {
  width: 30%;
}

/* Thanks grid.layoutit.com?id=D1i1b4l */
#cashflow-statement-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "income income-summary" "expenses expense-summary";
  grid-column-gap: 1%;
}
#income {
  grid-area: income;
}
#income-summary {
  justify-content: space-between;
  grid-area: income-summary;
}
#expenses {
  grid-area: expenses;
}
#expense-summary {
  justify-content: space-around;
  grid-area: expense-summary;
}
#children-box {
  background-color: #ccc;
  border: 1px solid black;
  margin: 1.5rem;
  width: 65%;
  padding: 1rem;
}
#children-box input {
  background-color: #ccc;
  border-left-color: #aaa;
}
.children-input {
  display: flex;
}
#children-box sub {
  display: block;
  padding: 0 0 1rem 7rem;
}
#children-box label {
  font-weight: bold;
}

#income-summary,
#expense-summary {
  border-bottom: 4px solid #000;
  display: flex;
  flex-direction: column;
}

#income-summary:last-child,
#expense-summary:last-child {
  padding-bottom: 3rem;
}

.total-io {
  display: flex;
  font-weight: 800;
  padding: 0 0 0 50%;
}
.total-io sub {
  display: block;
  color: #666;
}
#expense-summary .total-io,
#income-summary .total-io {
  padding: 0 0 0 40%;
}

#monthly-cash-flow-area {
  float: right;
}

/* 2nd grid for the bottom */
#balance-sheet-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "assets liabilities";
  border: 2px solid #000;
}
#assets {
  grid-area: assets;
}
#liabilities {
  grid-area: liabilities;
}

.value-inputs,
#asset-list,
#liability-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
}

.value-inputs > *,
#asset-list > *,
#liability-list > * {
  /* In relation to its parent */
  flex: 1 1 auto;
  margin: 10px;
  /* in relation to its children */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.value-inputs > * > *,
#asset-list > * > *,
#liability-list > * > * {
  flex: 1 1 auto;
  white-space: nowrap;
}

table {
  flex: 1 1 100%;
}
tr.line-input > td:first-child {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
