/* Coolors Exported Palette - coolors.co/faa916-fbfffe-8edce6-d5dcf9-96031a */

/* RGB */
$colorY: rgba(250, 169, 22, 1);
$colorW: rgba(251, 255, 254, 1);
$colorG: rgba(142, 220, 230, 1);
$colorB: rgba(213, 220, 249, 1);
$colorR: rgba(150, 3, 26, 1);
